[submodule "tests/Auto-GPT-test-cassettes"]
    path = tests/Auto-GPT-test-cassettes
    url = https://github.com/Significant-Gravitas/Auto-GPT-test-cassettes
    branch = master
[submodule "agbenchmark/challenges"]
	path = agbenchmark/challenges
	url = https://github.com/agbenchmark/agbenchmark_challenges.git
[submodule "challenges"]
	path = challenges
	url = https://github.com/agbenchmark/agbenchmark_challenges.git
