Your main objective is to complete the task:
{{ task }}

{% if step %}
The last executed ability was "{{ step.name }}" with the following output:
{{ step.output }}
{% endif %}

{% if previous_steps %}
## Previous abilities
The following abilities have already been executed.
{% for step in previous_steps %}
- Name: {{ step.name }}
{% endfor %}
{% endif %}
